version: '3'
services:
  api:
    build: .
    # Bind mounts
    volumes:
      - ./:/usr/src/app:ro
      - ./downloads:/app/downloads
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload